@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #fafafa;
  color: #4c4e61;
}

.container {
  max-width: 100%;
  padding: 0 1.75rem;
  margin: 0 auto;
  overflow: auto;
}

header {
  text-align: center;
  margin: 20% 0;
}

header h1 {
  font-size: 1.6rem;
}

header p {
  margin: 0.75rem auto;
  color: #a3a5ae;
}

header .sub-title {
  font-weight: 200;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.card-primary,
.card-danger,
.card-success,
.card-warning {
  margin-bottom: 2rem;
  padding: 1.75rem;
  background-color: #fff;
  border-top-width: 4px;
  border-top-style: solid;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px -10px rgba(84, 158, 242, 0.4);
  box-shadow: 0px 10px 20px -10px rgba(84, 158, 242, 0.4);
}

.card-primary h1,
.card-danger h1,
.card-success h1,
.card-warning h1 {
  font-size: 1.25rem;
}

.card-primary p,
.card-danger p,
.card-success p,
.card-warning p {
  margin: 0.75rem 0 3rem;
  font-size: 0.8rem;
  color: #a3a5ae;
  line-height: 1.8;
}

.card-primary .icon,
.card-danger .icon,
.card-success .icon,
.card-warning .icon {
  display: block;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 64px;
}

.card-primary {
  border-top-color: #549ef2;
}

.card-primary .icon {
  background-image: url(../images/icon-calculator.svg);
}

.card-danger {
  border-top-color: #ea5353;
}

.card-danger .icon {
  background-image: url(../images/icon-team-builder.svg);
}

.card-success {
  border-top-color: #45d3d3;
}

.card-success .icon {
  background-image: url(../images/icon-supervisor.svg);
}

.card-warning {
  border-top-color: #fcaf4a;
}

.card-warning .icon {
  background-image: url(../images/icon-karma.svg);
}

@media (min-width: 576px) {
  header p {
    width: 80%;
  }
}

@media (min-width: 768px) {
  header {
    margin: 10% 0;
  }

  header p {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1140px;
  }
  
  header {
    margin: 4% 0;
  }

  header h1 {
    font-size: 2.5rem;
  }

  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card-primary,
  .card-danger,
  .card-success,
  .card-warning {
    margin: 2rem 0.75rem;
  }
}